<div>
    <div class="row">

    <div class="scrollmenu">    
       
        <div class="col-sm-1" id="itemDensityGraph" (click)="chooseGraph('itemDensityGraph')" [ngClass]="itemDensityGraph">
                <img src="assets/images/graph-2.png">
                <div class="graphName"> Listing Distribution</div>
        </div>
        <div class="col-sm-1" id="priceAverage" (click)="chooseGraph('priceAverage')" [ngClass]="priceAverage">
                <img src="assets/images/graph-1.png">
                <div class="graphName"> Average Price </div>
        </div>
        <div class="col-sm-1" id="priceDistribute" (click)="chooseGraph('priceDistribute')" [ngClass]="priceDistribute">
                <img src="assets/images/graph-3.png">
                <div class="graphName"> Price Distribution</div>
        </div>
        <div class="col-sm-1" id="priceProb" (click)="chooseGraph('priceProb')" [ngClass]="priceProb">
                <img src="assets/images/graph-4.png">
                <div class="graphName"> Density Probability</div>
        </div>
        <div class="col-sm-1" id="meanPrice" (click)="chooseGraph('meanPrice')" [ngClass]="meanPrice">
                <img src="assets/images/graph-5.png">
                <div class="graphName"> Mean & Median</div>
        </div>
        <div class="col-sm-1" id="boxPlotPrice" (click)="chooseGraph('boxPlotPrice')" [ngClass]="boxPlotPrice">
                <img src="assets/images/graph-6.png">
                <div class="graphName"> Box Plot Price</div>
        </div>
        <div class="col-sm-1" id="postPerDay" (click)="chooseGraph('postPerDay')" [ngClass]="postPerDay">
                <img src="assets/images/graph-7.png">
                <div class="graphName"> Posting Trend</div>
        </div>
        <div class="col-sm-1" id="hTypePercent" (click)="chooseGraph('hTypePercent')" [ngClass]="hTypePercent">
                <img src="assets/images/graph-8.png">
                <div class="graphName"> House Type </div>
        </div>
        <div class="col-sm-1" id="priceTrend" (click)="chooseGraph('priceTrend')" [ngClass]="priceTrend">
                <img src="assets/images/graph-9.png">
                <div class="graphName"> Price Trend</div>
        </div>
        <div class="col-sm-1" id="priceScatter" (click)="chooseGraph('priceScatter')" [ngClass]="priceScatter">
                <img src="assets/images/graph-10.png">
                <div class="graphName"> Price Scatter</div>
        </div>

    </div>
    </div>

    <dropdown-menu></dropdown-menu>
         <div class="perspective">
                <button appRemoveChart [clearID]="'chartdiv'" (click) = "processButton()" [disabled]='(!processActive && !menuComponent.hasChanged)' class='enjoy-css'> Show Graph </button>
        </div>

        <div class="text">
                {{graphName}}
        </div>

    <div id="chartdiv" [ngClass]="{'isLong':isLong}" *ngIf="isNotPredict" [style.height]="chartHeight"></div>
   <div class="prediction">
        <div id="textDiv" *ngIf="!isNotPredict">{{predictInfo}}</div>
   </div>
</div>